.wb {
	display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
}
.wb img {
	width:16px;
	border: none;
}

.post-title {
    margin: 10px;
    transition: all 1s ease;
    text-shadow: 0 0 0 white;
}

.post-title:hover {
    color: red;
    transform: translateX(20px);
    text-shadow: 0 0 5px yellow;
}