.slide-basic {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide-one {
    background-image: url("imgs/1/月天空.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.slide-one-content {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("imgs/1/楼房.png");
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
}
.slide-one-people1 {
    position: absolute;
    top: 400px;
    right: 30px;
    width: 95px;
    height: 265px;
    background-image: url("imgs/1/人物1.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.slide-one-people2 {
    background-image: url("imgs/1/人物2.png");
}
.slide-one-people3 {
    background-image: url("imgs/1/人物3.png");
}
.slide-one-people4 {
    background-image: url("imgs/1/人物2.png");
}
.slide-one-people5 {
    background-image: url("imgs/1/人物3.png");
}
.slide-one-people6 {
    position: absolute;
    top: 372px;
    right: 156px;
    width: 121px;
    height: 165px;
    background-image: url("imgs/1/人物6.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.slide-one-people7 {
    background-image: url("imgs/1/人物7.png");
}
.slide-one-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-image: url("imgs/1/下地面.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slide-two {
    background-image: url("imgs/2/门光背景.png");
    background-size: auto 100%;
    background-repeat: repeat-x;
}
.slide-two-env {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("imgs/2/页面2bg.png");
    background-size:100%;
    background-repeat: no-repeat;
}
.slide-two-door {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 170px;
    background-image: url("imgs/2/门光.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slide-two-people {
    transform: translate(-238px);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 112px;
    height: 238px;
    background-image: url("imgs/2/人物.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.air-conditioner {
    position: absolute;
    left: 40px;
    top: 130px;
    width: 115px;
    height: 65px;
    background-image: url("imgs/2/开着的空调.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.air-conditioner-close {
    position: absolute;
    left: 40px;
    top: 130px;
    width: 115px;
    height: 65px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("imgs/2/关着的空调.png");
}
div.air-conditioner-tips {
    position: absolute;
    right: -95px;
    top: 10px;
    width: 92px;
    height: 27px;
    background-image: url("imgs/2/点击关闭空调.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation-duration: 2.5s;
}
.projection {
    position: absolute;
    left: 120px;
    top: 320px;
    width: 87px;
    height: 78px;
    background-image: url("imgs/2/开着的投影.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.projection-close {
    position: absolute;
    left: 120px;
    top: 320px;
    width: 87px;
    height: 78px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("imgs/2/关了的投影.png");
}
div.projection-tips {
    position: absolute;
    top: 45px;
    left: -105px;
    width: 105px;
    height: 27px;
    background-image: url("imgs/2/点击关闭投影仪.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation-duration: 2.5s;
}
.computer {
    position: absolute;
    left: 250px;
    top: 350px;
    width: 79px;
    height: 57px;
    background-image: url("imgs/2/开着的笔记本3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.computer-close {
    position: absolute;
    left: 250px;
    top: 350px;
    width: 79px;
    height: 57px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("imgs/2/关着的笔记本.png");
}
div.computer-tips {
    position: absolute;
    top: 10px;
    left: -92px;
    width: 92px;
    height: 27px;
    background-image: url("imgs/2/点击关闭电脑.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation-duration: 2.5s;
}
.mask {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}
.plug-bg {
    position: absolute;
    top: 50%;
    margin-top: -110px;
    width: 100%;
    height: 221px;
    background-image: url("imgs/2/开关背景.png");
    background-size: 100% auto;
    background-repeat: repeat-y;
}
.plug {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("imgs/2/拔掉插头.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.plug-out {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("imgs/2/拔掉插头2.png");
}
.switch-bg {
    position: absolute;
    bottom: 0;
    transform: translate(0, 221px);
    width: 100%;
    height: 221px;
    background-image: url("imgs/2/开关背景.png");
    background-size: auto 100%;
    background-repeat: repeat-x;
}
.switch-bg-close {
    background-image: url("imgs/2/请关灯2背景.png");
}

.switch {
    width: 100%;
    height: 100%;
    background-image: url("imgs/2/开关.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.switch-close {
    background-image: url("imgs/2/请关灯2.png");
}

.room-night {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("imgs/2/页面2关灯后.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.background {
    position: absolute;
    left: 150px;
    top: 210px;
    width: 200px;
    height: 134px;
    background-image: url("imgs/2/投影屏幕3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* 第三页 */

.floor-board {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("imgs/4/地板.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.floor-board-bg {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("imgs/4/地板拼接条.png");
    background-size: auto 100%;
    background-repeat: repeat-x;
}
.ceiling {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("imgs/4/天花板.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.light {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.light1 {
    background-image: url("imgs/4/灯1.png");
}
.light2 {
    background-image: url("imgs/4/灯2.png");
}
.lamp {
    position: absolute;
    right: 0;
    top: 0;
    width: 240px;
    height: 116px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.lamp1 {
    background-image: url("imgs/4/掉灯1.png");
}
.lamp2 {
    background-image: url("imgs/4/掉灯2.png");
}
.door {
    position: absolute;
    top: 0;
    right: 0;
    width: 240px;
    height: 223px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.door1 {
    background-image: url("imgs/4/门1.png");
}
.door2 {
    background-image: url("imgs/4/门2.png");
}
.door3 {
    background-image: url("imgs/4/门3.png");
}
.slide-three-people1 {
    position: absolute;
    right: 20px;
    bottom: 0;
    transform: translate(0, 182px);
    width: 78px;
    height: 182px;
    background-image: url("imgs/4/人物1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slide-three-people2 {
    position: absolute;
    right: 175px;
    bottom: 140px;
    width: 58px;
    height: 222px;
    background-image: url("imgs/4/人物2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slide-three-people3 {
    position: absolute;
    right: 85px;
    top: 160px;
    width: 42px;
    height: 157px;
    background-image: url("imgs/4/人物3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slide-three-people4 {
    position: absolute;
    right: 85px;
    top: 90px;
    width: 25px;
    height: 107px;
    background-image: url("imgs/4/人物4.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slide-three-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: black;
}
.slide-three-text1 {
    position: absolute;
    left: 50px;
    top: 90px;
    width: 120px;
    height: 58px;
    background-image: url("imgs/4/如果.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slide-three-text2 {
    position: absolute;
    left: 50px;
    top: 160px;
    width: 217px;
    height: 58px;
    background-image: url("imgs/4/没有灯光.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slide-three-text3 {
    position: absolute;
    left: 50px;
    top: 290px;
    width: 120px;
    height: 58px;
    background-image: url("imgs/4/黑夜.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slide-three-text4 {
    position: absolute;
    left: 50px;
    top: 360px;
    width: 275px;
    height: 58px;
    background-image: url("imgs/4/就没有远方.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slide-three-text-mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    opacity: 0;
}
/* 第四页 */

.sky {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("imgs/5/天空底图.png");
    background-size: auto 100%;
    background-repeat: repeat-x;
}
.cloud {
    width: 100%;
    height: 100%;
    background-image: url("imgs/5/云朵草地.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.grass {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 17px;
    background-image: url("imgs/5/地面拼图.png");
    background-size: auto 100%;
    background-repeat: repeat;
}
.slide-four-text1 {
    position: absolute;
    left: 50%;
    top: 60px;
    margin-left: -100px;
    width: 200px;
    height: 57px;
    background-image: url("imgs/5/低碳生活.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slide-four-text2 {
    position: absolute;
    left: 50%;
    top: 140px;
    margin-left: -100px;
    width: 200px;
    height: 57px;
    background-image: url("imgs/5/节能减排.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slide-four-text3 {
    position: absolute;
    left: 50%;
    top: 210px;
    margin-left: -153px;
    width: 307px;
    height: 90px;
    background-image: url("imgs/5/北京节能环保促进会提示您.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slide-four-text4 {
    position: absolute;
    left: 50%;
    top: 350px;
    margin-left: -132px;
    width: 265px;
    height: 57px;
    background-image: url("imgs/5/请节约用电！.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.qrcode {
    position: absolute;
    left: 50%;
    bottom: 50px;
    margin-left: -65px;
    width: 130px;
    height: 148px;
    background-image: url("imgs/5/二维码.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
